/*
  Ellipse
  -------
  Inspired from fawaterak.com and animated.css.
*/

.ellipse-animation {
  left: 0;
  position: relative;
  margin-bottom: 15px;
  animation: inherit;
  opacity: 1;
  .background {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: ellipse-animation 2.4s cubic-bezier(0, -0.26, 0.32, 1.22) 0s
      infinite;
    transform: rotate(0deg);
  }
  .icon {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}
@keyframes ellipse-animation {
  0% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  12% {
    border-top-left-radius: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: rotate(45deg);
  }

  25% {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: rotate(90deg);
  }

  38% {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 50%;
    transform: rotate(135deg);
  }

  50% {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transform: rotate(180deg);
  }

  62% {
    border-top-left-radius: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transform: rotate(225deg);
  }

  75% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    transform: rotate(270deg);
  }

  88% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 0;
    transform: rotate(315deg);
  }

  100% {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    transform: rotate(360deg);
  }
}
